@font-face {
	font-family: 'hackathon';
	src:url('../font/hackathon.eot?un2sy0');
	src:url('../font/hackathon.eot?#iefixun2sy0') format('embedded-opentype'),
		url('../font/hackathon.ttf?un2sy0') format('truetype'),
		url('../font/hackathon.woff?un2sy0') format('woff'),
		url('../font/hackathon.svg?un2sy0#hackathon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.HT_icon {
	font-family: 'hackathon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.HT_icon_social_facebook:before { content: "\e600";}
.HT_icon_social_googlePlus:before {	content: "\e601";}
.HT_icon_social_linkedin:before {	content: "\e602";}
.HT_icon_social_twitter:before {	content: "\e603";}
.HT_icon_social_youTube:before {	content: "\e604";}
.HT_icon_logo_hackathon:before {	content: "\e605";}
