$primary-color: #ff6600;
$primary-color-dark: #e34713;
$secondary-color: #505050;
$secondary-color-light: #909090;

$break-small: 384px;
$break-small-landscape: 640px;
$break-medium: 980px;
$break-large: 1280px;

$button-size : 1.8rem;
$transition: .3s;
$color : white;
