html, body { position: relative; }

section {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    clear: both;

    h1 {
        font-size: 32px;
        margin-bottom: 30px;

        i { margin-right: 10px; }
    }

    h2 {
        font-size: 24px;
        margin: 30px auto 20px;
        font-weight: bold;
    }

    .row {
        width: 100%;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 69.5em;
    }

    p a {color: $primary-color; }
}


.first_section {
    background: url('../images/bg.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 700px;
    text-align: center;
    padding-top: 70px;

    .HT_icon {
        font-size: 110px;
        color: white;
        display: inline-block;
        margin-top: 100px;
    }
    h1 {
        color: white;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
    }
}

.schedule_day {
    line-height: 3em;

    td {
        font-size: 18px;

        &:not(.desc) {
            font-weight: bold;
            color: $primary-color-dark;
            text-align: center;
        }
        &.dash { padding: 0 15px; }
        &.desc { padding-left: 20px; }
    }
}

.schedule_button {
    margin-bottom: 30px;

    li {
        &.current a {
            background: $primary-color;
            color: white;
            font-size: 22px;
            height: 30px;
        }
        float: left;
        width: 50%;
    }

    a {
        text-align: center;
        display: block;
        padding: 20px;
        color: white;
        font-size: 18px;
        background: #d7d7d7;

        @include transition(all, 0.3s, ease);

    }
}

.lista_giuria {
    margin-top: 30px;

    &.double article {
        width: 50%;
    }

    article {
        float: left;
        width: 33%;
        text-align: center;

        .photo {
            display: inline-block;
            max-width: 210px;
            width: 100%;
            overflow: hidden;

            @include border-radius(50%);

            filter: alpha(opacity=50);
            opacity: 0.8;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;

        span {
            display: block;
            font-size: 18px;
            font-weight: normal;
            color: #d7d7d7;
        }
    }

    p {
        padding: 15px 30px;
        text-align: justify;
    }
}

.box_frame_biglietti {
    display: block;
    margin-top: 25px;
}

.box_premio {
    margin-top: 40px;

    img {
        margin-top: 20px;
        float: left;
        width: 38%;
    }
    p { padding-left: 43%; }
    strong { font-weight: bold; }
}

.HT_faq_list {
    display: block;
    position: relative;
    li {
        border-bottom: 1px dotted #d7d7d7;
        padding-bottom: 25px;
        margin-bottom: 25px;
        &:last-of-type { border-bottom: none; }
    }
     h2 {
        color: $primary-color;
        font-size: 18px;
        padding-bottom: 10px;
    }
}
.HT_minibull { margin-top: 15px; }
.HT_minibull li {
    margin: 5px 0 10px;
    padding-left: 14px;
    line-height:normal;
    position:relative;
}

.HT_minibull li:before {
    content: "●";
    color:#606060;
    display:inline-block;
    width:10px;
    height:10px;
    font-size:12px;
    left:0;
    position: absolute;
}

#text_toggle {
    text-align: right;
}

#map-canvas {
    min-height: 350px;
    margin: 0px;
    padding: 0px;
}
